=render 'users/admin_header'

.row(style="background:#eeeeee;margin-top:4.5% ")
  .col-md-8(style=" height:30px; margin-left:4%")
    =link_to '首页',manager_index_path
    %span
      &nbsp/&nbsp修改用户密码

.modal.fade.in(style="background:#F5F5F5;margin-top:5%")
  .index-login.padding
    %br
    %br
    =form_for :user  do |f|
      .input-prepend
        = f.label :'帐号', :class=>"add-on-1"
        = f.label :name, :class=>"add-on-2"
      .input-prepend
        = f.label :'密码', :class=>"add-on-1"
        = f.text_field :password, :type=>"password", :placeholder=>'请输入新密码', :class=>"wid-350"
      .input-prepend
        = f.label :'请确认密码' ,:class=>"add-on-1"
        = f.text_field :password_confirmation, :type=>"password", :placeholder=>'请再次输入', :class=>"wid-350"

      %div
        = f.submit "确认修改", class: "btn", style:'width:150px'