.modal.fade.in(style="background:#F5F5F5;margin-top:5%")
  .nav-header
    %h4 重置密码
  .index-login.padding
    .nav-header.text-right
      =link_to  "用户登录",root_path
    =form_for :user ,:url=>'update_reset_password'  do |f|
      .input-prepend
        = f.label :'请设置密码', :class=>"add-on-1"
        = f.text_field :password, :type=>"password", :placeholder=>'请输入新密码', :class=>"add-on-2"
      .input-prepend
        = f.label :'请确认密码' ,:class=>"add-on-1"
        = f.text_field :password_confirmation, :type=>"password", :placeholder=>'请再次输入', :class=>"wid-350"
      .btn-danger.active
        =flash.now[:notice]
      %div
        = f.submit "确认修改", class: "btn", style:'width:150px'