.modal.fade.in(style="background:#F5F5F5;margin-top:5%")
  .nav-header
    %h4 重置密码
  .index-login.padding
    .nav-header.text-right
      =link_to  "用户登录",login_path
    %br
    %br
    =form_for :user ,:url=>'#'  do |f|
      .input-prepend
        = f.label :'忘记密码问题', :class=>"add-on-1"
        = f.text_field :forgot_pw_question, :disabled =>"disabled", :placeholder=>'#{f.forgot_pw_question}', :class=>"add-on-2"
      .input-prepend
        = f.label :'忘记密码答案' ,:class=>"add-on-1"
        = f.text_field :forgot_pw_answer, :class=>"wid-350"
      .btn-danger.active
        =flash.now[:notice]
      %div
        = f.submit "确认修改", class: "btn", style:'width:150px'