%div(style="background:#F5F5F5;margin-top:5%" class="modal fade in")
  .nav-header
    %h4 用户登录
    .text-right
      =link_to  "用户注册",register_path
  %br
  .index-login(style="text-align:center")
    =form_for :user do |f|
      .input-prepend
        = f.label :'帐号' ,:class=>"add-on-1"
        = f.text_field :name ,:type=>"text",:style=>"width:350px"
      .input-prepend
        = f.label :'密码' ,:class=>"add-on-1"
        = f.text_field :password ,:type=>"password",:style=>"width:350px"

      %div(class=" btn-danger active" )
        -#-if @user.errors
        -#  = @user.errors
      .nav-header
        .text-right
          =link_to  "忘记密码"
      %div(style="text-align:center;")
        = f.submit "登   录", class: "btn", style:'width:150px'