%div(style="background:#F5F5F5;margin-top:5%" class="modal fade in")
  .nav-header
    %h4 新用户注册
    .text-right
      =link_to  "用户登录",root_path
  %br
  .index-login(style="padding-left:40px; padding-right:40px")
    =form_for :user do |f|
      .input-prepend
        = f.label :'帐号' ,:class=>"add-on",:style=>"width:100px"
        = f.text_field :name ,:type=>"text",:style=>"width:350px"
      .input-prepend
        = f.label :'密码' ,:class=>"add-on",:style=>"width:100px"
        = f.text_field :password ,:type=>"password",:style=>"width:350px"
      .input-prepend
        = f.label :'请确认密码' ,:class=>"add-on",:style=>"width:100px"
        = f.text_field :password_confirmation ,:type=>"password",:style=>"width:350px"
      .input-prepend
        = f.label :'忘记密码问题' ,:class=>"add-on",:style=>"width:100px"
        = f.text_field :forgot_pw_question ,:type=>"text",:style=>"width:350px"
      .input-prepend
        = f.label :'忘记密码答案' ,:class=>"add-on",:style=>"width:100px"
        = f.text_field :forgot_pw_answer ,:type=>"text",:style=>"width:350px"
      %div(class=" btn-danger active" )
        -if @user.errors.any?
          = @user.errors.full_messages.first
      %br
      %div(style="text-align:center;")
        = f.submit "注  册", class: "btn", style:'width:150px'
